
.ban-user {
  border: 2px solid red;
  border-radius: 5px;
  margin-top: 2px;
  background-color: #ff3d3d;
  color: #000000;
  transition-duration: 0.2s;
}

.ban-user:hover {
  width: calc(120%);
}

.crop-image-container{
 max-width: 100px;
}
.addNewCategoryBtn {
  background-color: #d5d5d5;
  border-radius: 200px;
  border: 0;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}
.addNewTagBtn {
  background-color: #d5d5d5;
  border-radius: 200px;
  border: 0;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}
.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.pressed{
  background-color: rgba(0, 0, 0, 0.5);
}
